.header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 44px;
  box-sizing: border-box;
  padding: 10px 15px;
  background: #222;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}
.logo {
  display: block;
  height: 100%;
}
.logo > img {
  height: 100%;
}
.layer-button {
  font-size: 20px;
}
.layer-button svg + svg {
  display: none;
}
form {
  display: none;
}
.search {
  overflow: hidden;
  display: flex;
  height: 100%;
  height: 38px;
  border-radius: 4px;
  background: #fff;
}
.search-input {
  flex: 1 0 0;
  border: 0;
  width: 600px;
  padding: 0 15px;
  font-size: 16px;
  background: none;
}
.search-button {
  padding: 0 10px;
  font-size: 20px;
  color: #222;
}

.on form {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 0 15px;
  width: 100%;
  box-sizing: border-box;
}

.on .layer-button svg {
  display: none;
}

.on .layer-button svg + svg {
  display: block;
}

@media (min-width: 1000px) {
  .header {
    height: 60px;
  }
  .logo {
    height: 60%;
  }
  .layer-button {
    display: none;
  }
  form {
    display: block;
  }
  .on form {
    position: static;
    padding: 0;
    width: auto;
  }
}