.video {
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  cursor: pointer;
}

.video:hover {
  position: relative;
  z-index: 10;
}

.video:hover .video-thumb {
  transform: scale(1.05);
}

.video-thumb {
  width: 100%;
  transition-duration: 0.5s;
}

.video-channel {
  display: block;
  margin-top: 10px;
  opacity: 0.9;
}

.video-title,
.video-desc {
  overflow: hidden;
  display: -webkit-box; 
  word-wrap: break-word; 
  word-break: break-all;
  -webkit-box-orient: vertical; 
  text-overflow: ellipsis;
}

.video-title {
  max-height: 55px;
  margin: 10px 0;
  -webkit-line-clamp: 2;
  font-size: 20px;
}

.video-desc {
  max-height: 85px;
  -webkit-line-clamp: 4;
  opacity: 0.8;
}

@media (min-width: 1000px) {
  header + ul .video {
    width: 33.3333%;
  }
}