@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

body {
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #222;
  color: #fff;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, p {
  margin: 0;
}

input {
  outline: none;
  font-family: 'Noto Sans KR', sans-serif;
}

button {
  padding: 0;
  border: 0;
  background: none;
  color: #fff;
  outline: none;
  cursor: pointer;
  font-family: 'Noto Sans KR', sans-serif;
}