body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #222;
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, p {
  margin: 0;
}

input {
  outline: none;
}

button {
  padding: 0;
  border: 0;
  background: none;
  color: #fff;
  outline: none;
  cursor: pointer;
}

.wrap {
  overflow: hidden;
  display: grid;
  padding-top: 44px;
}

@media (min-width: 1000px) {
  .wrap {
    grid-template-columns: 1fr auto;
    padding-top: 60px;
  }
}